.Med2{
    width:40px;
    height:40px;
}
.Med1{
    width:40px;
    height:40px;
}
.navbar-example2{
    background-color:F8F9FA;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10%;
    height: 40%;
}
