.firstbox{
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: grab;
    overflow-x:scroll;
    margin: 10px;
}
.firstbox::-webkit-scrollbar-thumb:hover {
    background: rgb(235, 11, 11);
  }
.Ddowns{
font-size: 20px;
}
.dropdown1{
    height:20px;
    border: none; 
    box-shadow: 1px 1px 10px 1px #888888;
}
.card1{
    min-height:290px ;
    max-width: 520px;
    border-radius: 30px;
    border:1px solid black;
}
.row2{
   background-color: aliceblue;
   overflow-x: scroll;
   margin-bottom: 10px;
   box-shadow: 1px 1px 10px 1px #888888;
   margin: 5px;
}
.card2{
    background-image: linear-gradient(rgb(234,240,255), rgb(149,181,255));
    min-height:10ch ;
    min-width:20ch;
    border-radius: 8px;
    text-align: center; 
    border: none;
}
.card3{
    max-height:72ch;
    border-radius:8px;
}
.cards3{
    border-radius:8px;
    overflow-y:hidden;
}
.card4{
    min-height:55ch;
    min-width: 25ch;
    border-radius:8px;
    
}
.card-body{
    padding: 0%;
}
.row{
    padding: 0%;
}
.cards4{
    text-decoration:none;
    height: 30px;
    width: 30px;
    border-radius: 20px;
}
.cards4:hover{
    border-bottom: 3px solid rgb(28, 29, 27);   
}
.imagespace{
    margin-right: 10px;
}
.Ddown{
    height: 3.5ch;
    width: 15ch;
    border-radius: 5px;
    border: none; 
    box-shadow: 1px 1px 10px 1px #888888;
}

.imgS{
    background-color: rgb(255,255,255);
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: rgb(177, 194, 226);
    border: 5px solid #fff;
}
Table{
    border-collapse: collapse;
    width:auto;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #DDD;
    
  }
  
  tr:hover {background-color: #D6EEEE;}

  .header{
      background-color: rgb(234,242,252);
      width:auto;
  }
  .HS:hover{
      background-color: #D6EEEE;
  }
  .HS{
      text-emphasis-color: black;
      border-bottom: 3px solid rgb(241, 236, 236);
  }
  .FullContainers{
    z-index:0;
}
@media screen and (max-width: 600px) {
    .FullContainers{
        z-index:-100; 
        margin:0px 13px 0px 70px;
    }
  }
  
  