
.FullContainerS{
    margin:0px 0px 0px 80px;
    background-image: linear-gradient(rgb(250, 250, 250), rgb(129, 243, 114));
  margin:80px;
}


.FORMBox1{
    box-shadow: linear-gradient(to left, #6008ee 10%, #fff 100%);
    border:1px solid black;
}
.FORMBox2
{
    box-shadow: linear-gradient(to left, #803bec 10%, #fff 100%);
    border:1px solid black;
    height: 80ch;
    overflow-y: scroll;  
}
.FORMBox2::-webkit-scrollbar {
    display: none;
  }
.FullCard{
    min-Height:15rem;
    background:linear-gradient(to left, #b4b4b6 1%, rgb(250, 191, 191) 100%);
}


